@charset "UTF-8";
/*Hoja de estilos principal de SCSS*/
/*variables de los colores utilizados*/
/*reset de estilos generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 3px solid red;
}

body {
  background-color: #333831;
  font-family: "Stara", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding-left: 0;
}

li {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding-left: 0;
}

ul {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding-left: 0;
}

/*fuentes utilizadas*/
@font-face {
  font-family: "Stara";
  src: url(/fonts/Stara-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Stara";
  src: url(/fonts/Stara-Black.ttf);
  font-weight: bold;
  font-style: bold;
}
/*estilos y maquetaciones del header*/
.header {
  background-color: #333831;
  display: flex;
  align-items: center;
  height: auto;
  text-align: center;
  flex-direction: column;
}

/*parte superior del header*/
.header__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "header__logo header__logo" "social-icons header__login";
}

/*elementos y sub elementos del header*/
.header__logo {
  grid-area: header__logo;
}

.header__logo img {
  width: 100%;
  height: auto;
  padding: 25px;
  text-align: center;
}

.header__loging {
  grid-area: header__login;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.header__loging img {
  width: 30px;
}

.header__login-signup {
  display: flex;
  text-align: center;
}
.header__login-signup li {
  list-style: none;
  padding: 5px;
  color: #ECE5D1;
}

.social-icons {
  grid-area: social-icons;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  padding: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.social-icon {
  display: inline-block;
  padding: 10px;
}
.social-icon img {
  width: 25px;
  height: auto;
}

/*estilos de la navbar dentro del header*/
.header__navbar {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.header__navbar-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.header__navbar-item {
  color: #ECE5D1;
  font-size: 1.5rem;
  transition: all 0.5s;
}

/*cambiamos el color del icono del menú hamburquesa para que sea mantenga el formato*/
.navbar-toggler {
  border-color: #ECE5D1;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28236, 229, 209, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header__navbar-item:hover {
  color: var(--color-primary);
  background-color: #ECE5D1;
  padding: 0px 10px;
  border-radius: 30px;
}

/*estilos del contenido principal*/
.main__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/principal.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.main__content {
  width: 100%;
  height: 50vh;
  padding: 15px;
}
.main__content img {
  width: 100%;
}

.main__content-short-description {
  color: #ECE5D1;
  display: block;
  font-size: 2rem;
  padding: 10px;
}

.main__content-unirme-button {
  padding: 10px 25px;
  background-color: rgba(10, 10, 10, 0.815);
  color: #B0D3A5;
  border-radius: 50px;
  border: 3px solid #B0D3A5;
  font-size: 32px;
  font-weight: bold;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
  margin: 10px;
}
.main__content-unirme-button:hover {
  background-color: rgba(73, 72, 72, 0.281);
}

.main__info-container {
  width: 80%;
  height: auto;
  display: flex;
  margin: 10%;
  flex-direction: column;
  border: 3px solid #ECE5D1;
  border-radius: 25px;
  text-align: center;
}

.main__info-container-title {
  color: #ECE5D1;
  margin: 30px;
  border-bottom: 3px solid #ECE5D1;
}
.main__info-container-title h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.main__info-container-contenido {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.main__info-container-contenido-text {
  display: block;
  color: #ECE5D1;
  align-items: center;
  margin: 30px;
  font-size: 1.5rem;
  text-align: justify;
}
.main__info-container-contenido-text h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
}

.main__info-container-contenido img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

/*estilos de las categorías en el main con grid y bootstrap*/
.main__categories-elements {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  text-align: center;
  padding: 50px;
}

.main__categories h3 {
  text-align: center;
  margin: 50px 0;
  font-size: 2rem;
  color: #ECE5D1;
  text-transform: uppercase;
}

.card {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #ECE5D1;
}

.card-img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 0;
  border-radius: 10px 10px 0 0;
}

.card-body {
  background-color: #333831;
  color: #ECE5D1;
}

.card-title {
  text-transform: uppercase;
}

.btn {
  background-color: #B0D3A5;
  transition: all 0.5s;
}
.btn:hover {
  background-color: #ECE5D1;
  color: #333831;
}

/*estilos de las tabs de bootstrap*/
.main__tabs {
  text-align: center;
}
.main__tabs h3 {
  color: #ECE5D1;
}

.main__tabs-elements {
  width: auto;
  height: auto;
  text-align: center;
  margin: 50px;
  border-radius: 10px;
}

.nav-link {
  color: #ECE5D1;
  transition: all 0.5s;
  border-radius: 10px 10px 0 0;
}
.nav-link:hover {
  color: #ECE5D1;
  opacity: 0.8;
  border-radius: 10px 10px 0 0;
}

.main__tabs-elements .nav .active {
  background-color: #ECE5D1;
  border-radius: 10px 10px 0 0;
}

.tab-content {
  border-right: 2px solid #ECE5D1;
  border-left: 2px solid #ECE5D1;
  border-bottom: 2px solid #ECE5D1;
  border-radius: 0 0 10px 10px;
}

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tab-container img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin: 25px 0;
  border-radius: 5px;
}

.tab-content-text {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.tab-content-text h3 {
  color: #ECE5D1;
  text-align: center;
}
.tab-content-text p {
  color: #ECE5D1;
  margin: 10px;
}

/*estilos para la pagina de contacto*/
.main__contact-header h2 {
  color: #ECE5D1;
}
.main__contact-header p {
  color: #ECE5D1;
}

.form-label {
  color: #ECE5D1;
}

.form-control {
  background-color: #333831;
  color: #ECE5D1;
}
.form-control:focus {
  background-color: #333831;
  box-shadow: none;
  border: 2px solid #ECE5D1;
  color: #ECE5D1;
}

.input-group-text {
  background-color: #ECE5D1;
}

.contact-btn:hover {
  background-color: #ECE5D1;
}

/*estilos personalizados de las tarjetas de articulos de bootstrap*/
.category-title {
  color: #ECE5D1;
}

.category-description {
  color: #ECE5D1;
  opacity: 0.8;
}

.article-body,
.card-text {
  background-color: #B0D3A5;
  color: #333831;
}

.card {
  border-radius: 10px;
}

.card-img-top img {
  border-radius: 10px 10px 0 0;
}

/*estilos del footer*/
footer {
  background-color: #B0D3A5;
  margin-top: 30px;
  padding: 20px 50px;
  text-align: center;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footer__contacto h3 {
  order: -1;
}

.footer__copyright {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  color: #444;
}

/*Ajustar elementos a desktop*/
@media (min-width: 992px) {
  /*cambiar la dirección del header, así como el espacio entre los elementos*/
  .header__top {
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-around;
    gap: 45px;
  }
  /*ajustamos el tamaño del logo para que cubra un 50% de la pantalla*/
  .header__logo {
    width: 50vw;
    height: auto;
    padding: 0;
  }
  .header__logo img {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .header__top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 25px;
    grid-template-areas: "social-icons header__logo header__login";
  }
  /*cambiamos el orden de los elementos para que los iconos de redes sociales aparezcan primero de izquierda a derecha*/
  .social-icons {
    order: -1;
    margin: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .social-icon img {
    width: 25px;
    height: auto;
  }
  .header__login img {
    width: 10px;
    height: auto;
  }
  /*modificamos la clase de la navbar de bootstrap para que se adapte al tamaño de la pantalla*/
  .header__navbar-list {
    flex-direction: row;
    width: 100%;
    gap: 100px;
    justify-content: center;
  }
  /*damos un poco de margen para la version desktop del header*/
  .navbar {
    margin-top: 15px;
  }
  /*ocultamos el título del menú desplegable para que solo aparezca en la vista movil*/
  .navbar-brand {
    display: none;
  }
  /*modificamos el tamaño del logo en el banner y lo alineamos en la parte de abajo*/
  .main__content {
    width: 30%;
  }
  .main__banner {
    justify-content: flex-end;
  }
  /*Ajustamos el GRID a 3 columnas para que acomode mejor las categorías*/
  .main__categories-elements {
    grid-template-columns: repeat(3, 1fr);
  }
  /*cambiamos la dirección flex de la tarjeta de informacion en las categorias para que se adapte a desktop*/
  .main__info-container-contenido {
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 30px;
  }
  .main__info-container-contenido img {
    width: 500px;
    height: auto;
  }
  /*hacer responsive para desktop las tabs de bootstrap*/
  .tab-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .tab-container img {
    width: 700px;
    height: 350px;
    object-fit: cover;
    margin: 15px;
  }
  .tab-content-text {
    margin: 10px;
  }
  .tab-content-text h3 {
    margin-top: 15px;
    text-align: left;
    font-weight: bold;
    margin-left: 10px;
  }
  .tab-content-text p {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
