$button-bg-color: #B0D3A5;
$button-color: white;
$cart-width: 300px;
$cart-bg-color: #f8f9fa;
$cart-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
$cart-z-index: 1000;
$padding: 20px;
$button-z-index: 1100;

.sidecart {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

.sidecart.open {
    right: 0;
}

#cart-items {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

.cart-item {
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    align-items: flex-start; /* Alinea los elementos al inicio */
    margin-bottom: 15px;
    overflow: hidden;
    max-width: 100%; /* Evita que los elementos se desborden */
    word-wrap: break-word; /* Ajusta los textos largos */
}

.cart-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px; /* Añade margen debajo de la imagen */
}

.cart-item .details {
    width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
    margin-bottom: 10px; /* Añade margen debajo de los detalles */
}

.cart-item .quantity {
    display: flex;
    justify-content: left;
    width: 100%; 
    gap: 10px;
}

.cart-item .quantity button {
    padding: 5px;
    width: 30px;
    height: 30px;
}

.cart-total {
    font-weight: bold;
    margin-top: 10px;
}

.toggle-cart-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #B0D3A5;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1100;
}

.finalize-cart-btn {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.close-cart-btn {
    background: none;
    border: none;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
